body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  overflow: hidden
}
/* hide scroll but allow scrolling
body {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}
*/

.mantine-Carousel-control {
  background: transparent;
  color:"green";
  border: 0;
  border-radius: 0%;
  box-shadow: none;
}

.mantine-Carousel-root {
  overflow: visible;
}

.mantine-Carousel-viewport {
  overflow: hidden !important;
}

.mantine-Carousel-controls {
  margin-left: -100px;
  margin-right: -100px;
}

.mantine-Carousel-indicator {
  margin-bottom: 40px;
}

::-webkit-scrollbar {
  width: 22px;
}

::-webkit-scrollbar-track {
  background: black;
  border-left: 10px solid white;
  border-right: 10px solid white;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-left: 7px solid white;
  border-right: 7px solid white;
}